:root {
    --background-color-dark: #2E2F42;
    --background-color-white: #fff;
    --logo-color-web: #4D5AE5;
    --background-color-team: #F4F4FD;
    --text-color-main: #434455;
    --text-color-headline: #2E2F42;
    --link-color-active: #404BBF;
    --button-color-filter: #F4F4FD;
    --text-color-light: #F4F4FD;
    --text-color-white: #fff;
    --button-filer-text: #4D5AE5;
}
.link {
    font-family: 'Roboto';
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-color-dark);
}

.link:hover,
.link:focus {
    color: var(--link-color-active);
}

.list {
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    background-color:#FFFFFF ;
}

.header-section {
    font-family: "Raleway", "Roboto", sans-serif;
}
.logo-link {
    font-family: 'Raleway' sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none
}

.studio-dark {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}
body {
    color: var(--text-color-main);
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;

}
.hero-section {
    background-color: #2E2F42;
}

.hero-section .hero-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    color: white;
    line-height: 1.07
}

.button-hero {
    background: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border: none;
    cursor: pointer;

}

.button-hero:hover,
.button-hero:focus {
    background: #404BBF;
}


.studio{font-family: 'Raleway', sans-serif;
    color: #2E2F42
}
.studio-footer{font-family: 'Raleway', sans-serif;
    color: #F4F4FD;}
.hero-title{font-family: 'Roboto';
    font-style: normal;
    color: #FFFFFF;}
footer{background: #2E2F42;}
.footer-title{font-family: 'Roboto';
    font-style: normal;
    color: #F4F4FD;}

    .header{box-sizing: border-box;
    
        position: absolute;
        width: 1440px;
        height: 72px;
        left: 0px;
        top: 0px;
        background: #FFFFFF;
        border-bottom: 1px solid #E7E9FC;}
.title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
background-color: #FFFFFF}
.text{
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
background-color: #FFFFFF}
.contacts{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        color: #434455;
        list-style: none;
        text-decoration: none;}

.button-list .port-button {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background-color: #F4F4FD;
    border-color: #E7E9FC;
}

.port-button:hover,
.port-button:focus {text-decoration: none;
    background-color: #404BBF;
    color: #FFFFFF;
    border: none;
}
.doing{font-size: 36px;
line-height: 1.11;
color: #2e2f42;;
text-align: center;
text-transform: capitalize;
letter-spacing: 0.02em;
background-color: #FFFFFF
}
.f-section{background-color: #F4F4FD}
.f-list{background-color: #FFFFFF}