:root {
    --background-color-dark: #2E2F42;
    --background-color-white: #fff;
    --logo-color-web: #4D5AE5;
    --background-color-team: #F4F4FD;
    --text-color-main: #434455;
    --text-color-headline: #2E2F42;
    --link-color-active: #404BBF;
    --button-color-filter: #F4F4FD;
    --text-color-light: #F4F4FD;
    --text-color-white: #fff;
    --button-filer-text: #4D5AE5;
}

body {
    color: var(--text-color-main);
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;

}
.hero{
    background: #2E2F42;}
.button{background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);}
.button:hover,
.button:focus {
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
 .link-logo{text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 18px; 
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 800
    color: #4D5AE5;}
.list-style{text-decoration: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2e2f42;
}

.button-title{font-family: 'Roboto';
    font-style: normal;
    color: #FFFFFF;}


.studio{font-family: 'Raleway', sans-serif;
    color: #2E2F42
}
.studio-footer{ont-family: 'Raleway', sans-serif;
    color: #F4F4FD;}
.nav{font-family: 'Raleway', sans-serif;
    list-style: none;
    text-decoration: none;
    color: #2E2F42;
}
.hero-title{font-family: 'Roboto';
    font-style: normal;
    color: #FFFFFF;}
footer{background: #2E2F42;}
.footer-title{font-family: 'Roboto';
    font-style: normal;
    color: #F4F4FD;}
.title{font-family: 'Roboto';
    font-style: normal;
    color: #2E2F42;}
.text{font-family: 'Roboto';
    font-style: normal;
    color: #434455;}
    .header{box-sizing: border-box;
    
        position: absolute;
        width: 1440px;
        height: 72px;
        left: 0px;
        top: 0px;
        background: #FFFFFF;
        border-bottom: 1px solid #E7E9FC;}
.title{width: 264px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;}
.text{width: 264px;
    height: 72px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;}
.contacts{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        color: #434455;
        list-style: none;
        text-decoration: none;}

.button-list .port-button {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background-color: #F4F4FD;
    border-color: #E7E9FC;
}

.port-button:hover,
.port-button:focus {text-decoration: none;
    background-color: #404BBF;
    color: #FFFFFF;
    border: none;
}